<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unt.videoplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/utn_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/utn_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.UNTPlayer.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnlineVideoActivity"
            android:configChanges="keyboardHidden|screenSize|layoutDirection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".OfflineVideoActivity"
            android:configChanges="keyboardHidden|screenSize|layoutDirection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>